.db__calendar_header {
  color: var(--calendar-header);
}
.dp__calendar_header_separator {
  height: 0px;
}
.dp__menu {
  margin-left: 1vw;
}
.dp__input {
  background-color: var(--background-black);
  color: var(--settings-text-light);
  border: 1px solid var(--settings-border);
  border-radius: 4px;
  width: 87%;
  margin-left: 30px;
}
.dp__overlay_cell_active {
  background: var(--calendar-end);
}
.dp__instance_calendar {
  background-color: var(--calendar);
  padding: 10px;
}
.dp__range_end,
.dp__active_date {
  background-color: #006bf5;
}
.dp__range_between {
  border-radius: 6px;
  background-color: var(--background-black);
  border: none;
}
.dp__cell_inner {
  border-radius: 5px;
  height: 35px;
  margin: 0px 1px -3px 1px;
  width: 35px;
}
.dp__range_start {
  background-color: var(--background-black-calendar);
  color: white;
}
.dp__input_icon_pad {
  padding-left: 12px;
}
.dp__input_icons {
  display: none;
  pointer-events: none;
  padding: 6px 0px;
}
.dp__input_icon {
  display: block;
  height: 21px !important;
  width: 21px;
}
.dp__month_year_select {
  color: var(--calendar-month);
}
.dp__month_year_select:hover {
  background-color: var(--background-black-calendar);
}
.dp__inner_nav:hover {
  color: var(--calendar-white);
  background-color: var(--background-black-calendar);
}
.dp__range_end,
.dp__active_date {
  background-color: var(--calendar-end);
}
.dp__calendar_item {
  color: var(--calendar-text-color);
}
.dp__button {
  background: var(--calendar);
}
.dp__overlay {
  background: var(--calendar);
  color: var(--calendar-text-color);
}
.dp__arrow_top {
  background-color: var(--calendar);
  border-left: 1px solid var(--dp-menu-border-color);
  border-top: 1px solid var(--dp-menu-border-color);
}
.dp__overlay_cell:hover {
  background-color: var(--background-black-calendar);
}
.dp__button:hover {
  background-color: var(--calendar-end);
}
